<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />

  </head>
  <body class="bg-secondary">
    {% block content %}

      <div class="mb-5">
      <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid sticky-top">
          <a
            class="navbar-brand text-white fs-2 fw-bold fst-italic text-center mx-auto"
            href="{% url 'list_projects' %}"
            >Project Management</a
          >
        </div>
      </div>
      </nav>

      <main class="container">
        <div class="pt-5">
          <h1 class="px-4 py-5  mt-0 text-center display-5 fw-bold">Login</h1>
          <div class="mx-5 px-5">
            <div class="mx-5 px-5">
              <div class="mx-5 px-5">
                <div class="mx-5 px-5">
                  <div class="mx-5 px-5">
                    <form method="post" class="text-center">
                      {% csrf_token %}
                      <div class="mb-3">
                        <div class="mb-3">
                          <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                          <input type="{{ form.username.field.widget.input_type }}" name="{{ form.username.html_name }}" class="form-control" id="{{ form.username.id_for_label }}">
                        </div>
                        <div class="mb-3">
                          <label for="{{ form.password.id_for_label }}" class="form-label text-center">Password</label>
                          <input type="{{ form.password.field.widget.input_type }}" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}">
                        </div>
                        <button type="submit" class="mb-2 btn btn-primary">Login</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="{% url 'user_signup' %}" class="btn btn-primary">Sign Up!</a>
          </div>
        </div>
      </main>

    {% endblock %}
  </body>
</html>
