<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="bg-secondary">
    {% block content %}

    <div>
      <header class="mb-5">
        <nav class="navbar fixed-top bg-dark mb-5 pb-3">
          <a
            class="navbar-brand text-white fs-2 fw-bold fst-italic mx-auto"
            href="#"
            >Project Management</a
          >
        </nav>
      </header>
    </div>
    <div class="pt-5 mx-auto">
      <main>
        <div class="px-4 py-5 my-5 mt-0 text-center">
          <h1 class="display-5 fw-bold">SignUp</h1>
          <div class="mx-5 px-5">
            <div class="mx-5 px-5">
              <div class="mx-5 px-5">
                <div class="mx-5 px-5">
                  <div class="mx-5 px-5">
                    <div class="mx-5 px-5">
                      <div class="mx-5 px-5">
                        <div class="mx-5 px-5">
                          <form method="post">
                            {% csrf_token %} {{ form.as_p }}
                            <a
                              type="button"
                              class="btn btn-primary mt-3 pd-3 mx-2"
                              href="{% url 'login' %}"
                            >
                              Login
                            </a>
                            <button
                              type="submit"
                              class="btn btn-primary mt-3 pd-3 mx-2"
                            >
                              Signup
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>
