<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-secondary">
    {% block content %}
    <header>
      <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid">
          <a
            class="navbar-brand text-white fs-2 fw-bold fst-italic text-center mx-auto"
            href="{% url 'list_projects' %}"
            >Project Management</a
          >
          <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                Project Management
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              {% if user.is_authenticated %}
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'show_my_tasks' %}"
                    >My tasks</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'list_projects' %}"
                    >My projects</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'logout' %}"
                    >Logout</a
                  >
                </li>
                {% else %}
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'login' %}"
                    >Login</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'signup' %}"
                    >Signup</a
                  >
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="pt-5 mx-auto">
      <main>
        <div class="px-4 py-5 my-5 mt-0 text-center">
          <h1 class="display-5 fw-bold">Create a new task</h1>
          <div class="mx-5 px-5">
            <div class="mx-5 px-5">
              <div class="mx-5 px-5">
                <div class="mx-5 px-5">
                  <div class="mx-5 px-5">
                    <div class="mx-5 px-5">
                      <div class="mx-5 px-5">
                        <div class="mx-5 px-5">
                          <form method="post">
                            {% csrf_token %} {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">
                              Create
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>
