<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-secondary">
    {% block content %}
    <header class="mb-5">
      <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid">
          <a
            class="navbar-brand text-white fs-2 fw-bold fst-italic text-center mx-auto"
            href="{% url 'list_projects' %}"
            >Project Management</a
          >
          <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                Project Management
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              {% if user.is_authenticated %}
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'show_my_tasks' %}"
                    >My tasks</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'list_projects' %}"
                    >My projects</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'logout' %}"
                    >Logout</a
                  >
                </li>
                {% else %}
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'login' %}"
                    >Login</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{% url 'signup' %}"
                    >Signup</a
                  >
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="pt-5">
      <main>
        <div>
          <h1 class="text-center">{{ project.name }}</h1>
          <div class="row py-5 my-2 border-bottom px-5">
            <div class="col-4 px-5 mx-auto">
              <img
                src="{{ project.picture_url }}"
                class="card-img-top"
                alt="Project Image"
              />
            </div>
            <div class="col-8 px-5">
              <p>{{project.description}}</p>
            </div>
          </div>
          <h2 class="text-center">Tasks</h2>
          {% if project.tasks %}
          <div class="d-flex justify-content-center">
            <table class="mb-5">
              <tr>
                <th class="py-2 px-5">Name</th>
                <th class="py-2 px-5">Assignee</th>
                <th class="py-2 px-5">Start date</th>
                <th class="py-2 px-5">Due date</th>
                <th class="py-2 px-5">Is completed</th>
              </tr>
              {% for task in project.tasks.all %}
              <tr>
                <td class="py-2 px-5">{{ task.name }}</td>
                <td class="py-2 px-5">{{ task.assignee.username }}</td>
                <td class="py-2 px-5">{{ task.start_date }}</td>
                <td class="py-2 px-5">{{ task.due_date }}</td>
                <td class="py-2 px-5">{{ task.is_completed|yesno }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% else %}
          <p>This project has no tasks</p>
          {% endif %}
        </div>
        <p class="text-center">
          <a
            href="{% url 'create_task' %}"
            class="text-center btn btn-primary text-center"
            >Create a new task</a
          >
        </p>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>
