<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Projects</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
  <style>
  .card-img-top {
    height: 200px; /* Adjust the height as per your requirements */
    object-fit: cover;
  }
</style>
</head>
<body class="bg-secondary">
  {% block content %}

    <nav class="navbar bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand text-white fs-2 fw-bold fst-italic text-center mx-auto" href="{% url 'list_projects' %}">Project Management</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header sticky-top">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Project Management</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            {% if user.is_authenticated %}
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'show_my_tasks' %}">My tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'list_projects' %}">My projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Signup</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

  <div class="pt-5">
    <main>
      <div class="pt-5 text-center">
        <h1 class="display-5 fw-bold text-center text-white">Projects</h1>
        <p class="btn btn-primary text-center">
          <a class="nav-link active " aria-current="page" href="{% url 'create_project' %}">Create a new project</a>
        </p>
      </div>
    </div>

    {% if projects %}
<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ project.picture_url }}" class="card-img-top" alt="Project Image" />
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text" style="max-height: 250px; overflow-y: auto;">{{ project.description }}</p>
          <a href="{% url 'show_project' project.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
      {% else %}
      <h3 class="text-center text-white">No Projects just yet!</h3>
      {% endif %}
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
